@import "tailwindcss";

@layer base {
  body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
  }
}

/* Ocultar barra de desplazamiento manteniendo el scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scrollbar cyberpunk neon */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00FF66;
}